.forget { 
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
    background-color: white;
    background-image: url("../assets/forget_bg.jpg");   
    background-size: cover;
    font-family: sans-serif;
}
.forget__container { 
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    border-color: black;
    box-shadow: 0 0 5px black;
}
.forget__container > h2 {
    font-weight: 400;
    padding-bottom: 10px;
}
.forget__container  > p {
    font-size: 14px;
    color: black;
}
.forget__form { 
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    font-size: 14px;
}
.forget__form> input { 
    margin-top: 5px;
    height: 40px;
    width: 300px;
    outline: none;
    border: 1px solid black ;
    border-radius: 5px;
    background-color: transparent;
    justify-items: center;
    padding-left: 10px;

}
.forget__form > p > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.forget__form > p > a:hover {
    cursor: pointer;
   color: #ffbf00 ;

}
.forget__container > Button {
    margin-top: 30px;
    text-transform: capitalize;
    color: black;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #ffbf00;
    width: 15vw;
}
.forget__container > Button:hover {
    color:black;
    border-radius: 5px;
    border: 1px solid #ffbf00;
    background: transparent;
}