.main {
    top: 0;
    background-color: whitesmoke;
    
}
.main > hr {
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.main > h2 {
    padding-top: 20px;
    margin-left: 15%;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.main__blank {
    display: grid;
    margin-left: 15%;
    max-width: 70%;
    margin-top: 40px;
    border-radius: 5px;
}
.main__blank > h2 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.main__blankCard {
    display: flex;
    flex-direction: column;
    max-width: 12vw;
    margin: 10px;
    align-items: center;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    height: 200px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.main__blankCard > img {
    height: 40px;
    width: 40px;
    padding-top: 50px ;
}
.main__blankCard > h3 {
    padding-top: 60px;
    font-weight: 400;
    font-family: sans-serif;
    margin-bottom: 0px;
}
.main__blankCard:hover {
    cursor: pointer;
    border: 1px solid #ffbf00;
    transform: scale(1.05); /* Zoom in on hover */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
 }
.main__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 5px;
    margin-left: 15%;
    max-width: 70%;
background-color: white;
border-radius: 5px;
}
