.card {
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 15vw;
    border: 1px solid lightgray;
    font-family:  sans-serif;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
.card:hover {
    border: 1px solid #ffbf00;
    transform: scale(1.05); /* Zoom in on hover */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
  .card > h1 {
    text-align: center;
    margin: 0;
    height: 150px;
    background-color: whitesmoke;
  }
  
  .card__info {
      border-radius: 10px;
      border: 1;
      padding-left: 10px;
      background-color: white;
      border-top: 1px solid lightgray;
      border-radius: 0px;

      
    }
  
    .card__info > h3 {
      font-size: 14px;
      font-weight: 600;
    }
    
    .card__info > p {
      font-size: 12px;
      font-weight: 300;
      margin-top: 8px;
      margin-bottom: 8px;
      text-align: center;
    }
    
@media only screen and (max-width:1037px) {
  .card {
      max-width: 80%;
  }
}

@media only screen and (max-width: 870px) {
  .card {
      width: 100%;
      margin: auto;
      margin-top: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .card {
    width: 100%;
    margin: auto;
    margin-top: 20px;
}

}