.textEditor {
    display: flex;
    flex-direction: column;     /* Adjust if needed */
    margin: 0 auto; /* Center horizontally */
    padding-left: 5px;
    padding-right: 5px;
    max-width: 100%;
    height: auto;
  }
 .textEditor > Button {
    color: black !important;
    border: 1px solid black !important;
    background-color: #ffbf00 !important;
    width: 15vw ;
    margin-left: 42% !important;
    margin-top: 20px;

}
.textEditor > Button:hover {
    cursor: pointer !important;
    background-color: transparent !important;
    border: 1px solid black !important;
}
.textEditor__header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-items: center;
}
.textEditor__header > img {
    height: 30px;
    width: 30px;
    margin: 10px;
}
.textEditor__header > img:hover {
    cursor: pointer;
}
.textEditor__header > input {
    outline: none;
   font-size: 14px;
   color: black;
   border: none;
   outline-width: 0;
   font-family: sans-serif, Arial, Helvetica, sans-serif;
   height: 20px;
   width:12vw;
   border-radius: 5px;
}
.textEditor__header > input:focus {
    outline: 1px solid black;
}

